{% extends "shop/base.html" %}
{% import "shop/macros.html" %}

{% block title %}Edit Product{% endblock %}

{% block title_ext %}{{ ckeditor.load() }}{{ ckeditor.config(name="Description") }}{% endblock %}

{% block body %}
{{ macro.header_bar(current_user) }}


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <form method="post" action="{{ url_for('create_product') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.pictures.label(for_="InputPictures") }}
                {{ form.pictures(type_="text", class_="form-control", id="InputPictures") }}
            </div>
            <div class="form-group">
                {{ form.product_name.label(for_="InputProductName") }}
                {{ form.product_name(type_="text", class_="form-control", id="InputProductName") }}
            </div>
            <div class="form-group">{{ form.desc() }}</div>
            <div class="form-group">
                {{ form.quantity_available.label(for_="InputQuantityAvailable") }}
                {{ form.quantity_available(type_="text", class_="form-control", id="InputQuantityAvailable") }}
            </div>
            <div class="form-group">
                {{ form.on_sale.label(for_="InputIsOnSale") }}
                {{ form.on_sale(class_="form-control", id="InputIsOnSale") }}
            </div>
            <div class="form-group">
                {{ form.price.label(for_="InputPrice") }}
                {{ form.price(class_="form-control", id="InputPrice") }}
            </div>
            <div class="form-group">
                {{ form.price_after_sale.label(for_="InputPriceAfterSale") }}
                {{ form.price_after_sale(class_="form-control", id="InputPriceAfterSale") }}
            </div>
            <div class="d-grid gap-2">
                {{ form.submit(type_="submit", class_="btn btn-outline-success") }}
                <a class="btn btn-outline-danger" href="{{ url_for('home') }}">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}

