{% extends "shop/base.html" %}
{% import "shop/macros.html" as macro %}

{% block title %}Teddy Bear Store{% endblock %}
{% block body %}

{{ macro.header_bar(current_user) }}
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% if product.on_sale %}
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    {% endif %}
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.pictures[0] }}"
                         alt="{{ product.name }}"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                ({{ product.quantity_sold }})
                                {% if product.rating == 0 %}
                                {% for _ in range(5) %}
                                <div class="bi-star"></div>
                                {% endfor %}
                                {% else %}
                                {% for _ in range(product.rating) %}
                                <div class="bi-star-fill"></div>
                                {% endfor %}
                                {% for _ in range(5 - product.rating) %}
                                <div class="bi-star"></div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            {% if product.on_sale %}
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                            <br>
                            ${{ product.price_after_sale }}
                            {% else %}
                            ${{ product.price }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-primary mt-auto"
                               href="{{ url_for('show_product', product_id=product.product_id) }}">
                                Learn More</a>
                        </div>

                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto"
                               href="{{ url_for('add_to_cart', product_id=product.product_id) }}">
                                Add to cart</a>
                        </div>

                        {% if current_user.get_id() == "1" %}
                        <div class="text-center">
                            <a href="{{ url_for('modify_product', product_id=product.product_id) }}"
                               style="color: #660000;">Modify</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

