{% extends "shop/base.html" %}

{% block title %}{% endblock %}

{% block body %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="ImageCard" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for picture in product.pictures %}
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ picture }}" alt="{{ product.name }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#ImageCard" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#ImageCard" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ product.product_id }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    {% if product.on_sale %}
                    <span class="text-decoration-line-through">${{ product.price }}</span>
                    <span>${{ product.price_after_sale }}</span>
                    {% else %}
                    <span>${{ product.price }}</span>
                    {% endif %}
                </div>
                <p class="lead">{{ product.desc|safe }}</p>
                <div class="d-flex">
                    <a class="btn btn-outline-dark flex-shrink-0" type="button"
                       href="{{ url_for('add_to_cart', product_id=product.product_id) }}">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
